# Database
DATABASE_URL=postgresql://neondb_owner:npg_Ps3Dbv7TORCq@ep-spring-mouse-za9nqqvm-pooler.c-2.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Application
NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000